// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 268px 0;
  height: 100%;
  background-position: -497px;
}

.home-font {
  font-size: 58px;
}

.container {
  padding-left: 24px;
  margin-top: 32px;
  margin-bottom: -125px;
}

p {
  font-size: 24px;
  color: white;
}

body.home .navbar {
  display: none !important;
 }

.impact {
  height: 100%;
  width: 100vw;
  margin-top: 0px;
}

.impact .text {
  padding-left: 16px;
}

.impact .right {
  text-align: right;
}

.impact p {
  font-family: 'Arimo';
  font-size: 20px;
  color: white;
}

.impact h3 {
  font-family: 'Arimo';
  font-size: 32px;
  color: white;
  font-weight: bold;
}


.donees {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 0px;
}

.d-icon {
  font-size: 109px;
  color: #8D6A9F;
  text-shadow: 2px 2px #777474;

}

.buttons-home{
  padding: 24px;
  display: flex;
  justify-content: space-between;
  padding-top: 206px;
}

img {
  border-radius: 8px;
  width: 300px;
  height: 225px;
  margin-left: 45px;
}

.text-1 {
  font-family: 'Arimo';
  font-size: 16px;
  color: white;
  justify-content:center;
  margin-left: 30px;
  margin-right: 30px;
}
