

<div class="show-container">
  <div class="image">
    <img src="https://kitt.lewagon.com/placeholder/users/Joe McIlroy"/>
  </div>
  <div class="card-infos">
    <h2><strong>David</strong> London</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
  </div>
  <div class="buttons">
    <a href="#" class="btn-fr">Donate</a>
    <a href="#" class="btn-fr">Assistance</a>
  </div>
</div>
