

<%# <div class="container">
  <div class="name">
    <h2><strong>David</strong> London</h2>
  </div>
  <div class="img">
    <img src="https://kitt.lewagon.com/placeholder/users/Joe McIlroy"/>
  </div>
</div> %>



<% @donees.each do |donee| %>
<div class="index-container">
  <div class="container-index-card">
    <div class="name">
      <h2><%= link_to donee.first_name, donee_path(donee) %></h2>
      <h2><%= donee.location.include?(",") ? donee.location.split(",")[2] : donee.location %></h2>
    </div>
    <div class="img">
      <%= link_to donee_path(donee) do  %>
        <%= cl_image_tag donee.photo.key, class: "img" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
