

<div class="container">
  <div class="name">
    <h2><strong>David</strong> London</h2>
  </div>
  <div class="img">
    <img src="https://kitt.lewagon.com/placeholder/users/Joe McIlroy"/>
  </div>
</div>
