

<div class="footer">
  <a href="#"><i class="fa fa-solid fa-qrcode"></i></a>
  <a href="#"><i class="fa fa-solid fa-rainbow"></i></a>
  <a href="#"><i class="fa fa-solid fa-qrcode"></i></a>
  <a href="#"><i class="fa fa-solid fa-qrcode"></i></a>
</div>
