<div class="footer">
  <%= link_to impact_path do  %>
    <i class="fa fa-solid fa-chart-pie"></i>
  <% end %>
  <%= link_to donees_path do  %>
   <i class="fa fa-solid fa-rainbow"></i>
  <% end %>
   <%= link_to dashboard_path do  %>
    <i class="fa fa-thin fa-bars"></i>
  <% end %>
</div>
