

<div class="footer">
  <a href="#"><i class="fa fa-solid fa-qrcode"></i></a>
  <%= link_to donees_path do  %>
   <i class="fa fa-solid fa-rainbow"></i>
  <% end %>
  <%= link_to impact_path do  %>
    <i class="fa fa-solid fa-chart-pie"></i>
  <% end %>
   <%= link_to dashboard_path do  %>
    <i class="fa fa-solid fa-address-book"></i>
  <% end %>
</div>
