<div class="navbar navbar-expand-sm navbar-light navbar-friendy">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <h1><%= Friendy %></h1>
    <% end %>
    <div class="">
      <%= link_to new_donee_path do  %>
         <i class="fa fa-regular fa-user-plus"></i>
      <% end %>
    </div>
  </div>
</div>
