<div class="navbar navbar-expand-sm navbar-light navbar-friendy">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <h1><%= Friendy %></h1>
    <% end %>
    <div class="">
    <%# <% raise %>
    <% if params[:controller]  == "pages" && (params[:action] == "index" || params[:action] == "show") %>
      <h2><%= link_to 'Sign out', destroy_user_session_path, style: "font-size: 20px;", method: :delete, data: { confirm: 'Are you sure?' } %></h2>
    <% else %>
      <%= link_to new_donee_path do  %>
         <i class="fa fa-regular fa-user-plus"></i>
      <% end %>
    <% end%>
    </div>
  </div>
</div>
