<div class="navbar navbar-expand-sm navbar-light navbar-friendy">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <h1><%= Friendy %></h1>
    <% end %>
    <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/Joe McIlroy" />
  </div>
</div>
