<div class="navbar navbar-expand-sm navbar-light navbar-friendy">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <h1><%= Friendy %></h1>
    <% end %>
  </div>
</div>
