<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.terrycralle.com/wp-content/uploads/2020/05/How-to-Safely-Help-Homeless-People-During-Coronavirus-Pandemic-1600x900.jpg);">
  <div class="container">
    <h1 class="home-font">Friendy</h1>
    <p>Be a rainbow in someone else's cloud</p>
  </div>
</div>


<div class="impact">
  <div class="donees">
    <a href="#"><i class="d-icon fa fa-solid fa-qrcode"></i></a>
    <a href="#"><i class="d-icon fa fa-solid fa-user-group"></i></a>
    <div class="text">
      <h3>3,221</h3>
      <p>Homeless people receiving help through Friendy</p>
    </div>
  </div>
  <div class="donees">
    <div class="text right">
      <h3>£2,304</h3>
      <p>Total donated driectly to people in need</p>
    </div>
    <a href="#"><i class="d-icon fa fa-solid fa-coins"></i></a>
  </div>
  <div class="donees">
    <a href="#"><i class="d-icon fa fa-solid fa-qrcode"></i></a>
    <%# <a href="#"><i class="d-icon fa-solid fa-city"></i></a> %>
    <div class="text">
      <h3>3,221</h3>
      <p>Homeless people receiving help through Friendy</p>
    </div>
  </div>
  <div class="donees">
    <div class="text right">
      <h3>2,304</h3>
      <p>Friendies signed up and helping those in need</p>
    </div>
    <a href="#"><i class="d-icon fa fa-solid fa-user"></i></a>
  </div>
</div>





 <%# <div class="donees">
    <a href="#"><i class="d-icon fa fa-solid fa-qrcode"></i></a>
    <div class="text">
      <h3>£153,403</h3>
      <p>Donated and counting</p>
    </div>
  </div>
  <div class="donees">
    <a href="#"><i class=" d-icon fa fa-solid fa-qrcode"></i></a>
    <div class="text">
      <h3>£153,403</h3>
      <p>Donated and counting</p>
    </div>
  </div>
  <div class="donees">
    <a href="#"><i class=" d-iconfa fa-solid fa-qrcode"></i></a>
    <div class="text">
      <h3>2,304 </h3>
      <p>Friendies signed up and helping those in need</p>
    </div>
  </div> %>
