<div class="Hero-Text" style="text-align: center;">
  <h6>Impact Report</h6>
</div>


<div class="item" data-aos="fade-right">
  <div class="impact">
    <div class="donees">
      <a href="#"><i class="d-icon fa fa-solid fa-qrcode" style="padding-left: 30px;
  padding-right: 30px;"></i></a>
      <a href="#"><i class="d-icon fa fa-solid fa-user-group"></i></a>
      <div class="text">
        <h3>3,221</h3>
        <p>Homeless people <strong>receiving</strong> help through Friendy</p>
      </div>
    </div>
  </div>
</div>
<div class="item" data-aos="fade-left">
  <div class="impact">
    <div class="donees">
      <div class="text right">
        <h3>£2,304</h3>
        <p>Total donated driectly to people in need</p>
      </div>
      <a href="#"><i class="d-icon fa fa-solid fa-coins" style="padding-left: 30px;
  padding-right: 30px;"></i></a>
    </div>
  </div>
</div>
<div class="item" data-aos="fade-right">
  <div class="impact">
    <div class="donees">
      <a href="#"><i class="fa fa-duotone fa-bed" style="padding-left: 30px;
  padding-right: 20px; font-size: 90px; color: #8D6A9F;"></i></a>
      <div class="text">
        <h3>3,221</h3>
        <p>Homeless people receiving help through Friendy</p>
      </div>
    </div>
  </div>
</div>
<div class="item" data-aos="fade-left">
  <div class="impact">
    <div class="donees">
      <div class="text right">
        <h3>2,304</h3>
        <p>Friendies signed up and helping those in need</p>
      </div>
      <a href="#"><i class="d-icon fa fa-solid fa-user" style="padding-left: 30px;
  padding-right: 30px;"></i></a>
    </div>
  </div>
</div>
<br>
