<div class="Hero-Text" style="text-align: center;">
  <h6 style="margin-bottom: 1.5rem;">Impact Report</h6>
</div>
<div class="text-1">
  <b>Friendy</b> was born from the idea that the ability to access modern money - should be univeral.
  So, when a homeles person asks for money do you A) Fumble in your pockets and say I left my wallet at home or B) say sorry mate - I don't have cash...
<div style="height: 20px;"></div>
  Modern financial services have reduced the ability for spontaneous philanthropy. For context, Cash Donations have reached a historic low of 7% and
  out of £5.4 Billion in donations made for 2020. Only £3,780,000 were made to over 219,000 homeless people in the UK.
<div style="height: 20px;"></div>
  <b>Quick maths, that's £17.26 per person - for the year.</b>
<div style="height: 20px;"></div>
  Friendy solves this by bridging the gap, using uniquely generated QR codes and your phone to donate directly to the person in need and <b>100%</b>
  goes to them. Now, you don't have to say you don't carry cash, just say <b>"What's your Friendy QR code mate?</b>
<div style="height: 20px;"></div>
<div data-controller="counter">
  <div style="height: 80px;"></div>
  <div class="item" data-aos="fade-left">
    <div class="impact">
      <div class="donees">
        <a href="#"><i class="d-icon fa fa-solid fa-qrcode" style="padding-left: 30px; padding-right: 30px;"></i></a>
        <a href="#"><i class="d-icon fa fa-solid fa-user-group"></i></a>
        <div class="text">
        <div class="stat-info d-flex">
          <h3>£ </h3>
           <h3
        data-controller="animated-number"
        data-animated-number-start-value="0"
        data-animated-number-end-value="4000000"
        data-animated-number-duration-value="7000">
          0
        </h3>
        </div>
            <p>Total donations homeless people <strong>received</strong> through Friendy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="item" data-aos="fade-right">
    <img src="https://media.istockphoto.com/vectors/volunteer-feeding-homeless-person-flat-vector-illustration-care-for-vector-id1312263906?k=20&m=1312263906&s=612x612&w=0&h=BJ7-q2QspA0Sabn6FvK7ewuI_oTWnIn2-G15U-2xv0Y=" alt="Animation of Woman feeding homeless man">
  </div>
  <br>
  <br>
  <div class="item" data-aos="fade-left">
    <div class="impact">
      <div class="donees">
        <div class="text right">
        <h3
        data-controller="animated-number"
        data-animated-number-start-value="0"
        data-animated-number-end-value="12350"
        data-animated-number-duration-value="7000">
          0
        </h3>
          <p>Total donations made <strong>directly</strong> to people in need</p>
        </div>
        <a href="#"><i class="d-icon fa fa-solid fa-coins" style="padding-left: 30px;
    padding-right: 30px;"></i></a>
      </div>
    </div>
  </div>
  <div class="item" data-aos="fade-right">
    <img src="https://media.istockphoto.com/vectors/homeless-people-need-help-poor-old-man-sitting-in-street-waiting-to-vector-id1225743593?k=20&m=1225743593&s=612x612&w=0&h=ECzHlMug1DaNam47UvBwXYRoH-KsqO0Z1Q_59jXwjXw=">
  </div>
  <br>
  <br>
  <div class="item" data-aos="fade-left">
    <div class="impact">
      <div class="donees">
        <a href="#"><i class="fa fa-duotone fa-bed" style="padding-left: 30px;
    padding-right: 20px; font-size: 90px; color: #8D6A9F;"></i></a>
        <div class="text">
          <h3
        data-controller="animated-number"
        data-animated-number-start-value="0"
        data-animated-number-end-value="45092"
        data-animated-number-duration-value="7000">
          0
        </h3>
          <p>Total number of <strong>Donors</strong> using Friendy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="item" data-aos="fade-right">
  <img src="https://media.istockphoto.com/vectors/hand-giving-coin-of-money-to-another-person-donation-and-help-symbol-vector-id1341693222?k=20&m=1341693222&s=612x612&w=0&h=HXvU5otSTCyBxKmIYXpAlb-Ig9HlTNanOTRgevhlcZ4=">
  </div>
  <br>
  <br>
  <div class="item" data-aos="fade-left">
    <div class="impact">
      <div class="donees">
        <div class="text right">
          <h3
        data-controller="animated-number"
        data-animated-number-start-value="0"
        data-animated-number-end-value="29345"
        data-animated-number-duration-value="7000">
          0
        </h3>
          <p>Total Homeless people helped and <strong>now in housing</strong> since using Friendy</p>
        </div>
        <a href="#"><i class="d-icon fa fa-solid fa-user" style="padding-left: 30px;
    padding-right: 30px;"></i></a>
      </div>
    </div>
  </div>
  <div class="item" data-aos="fade-right">
  <img src="https://media.istockphoto.com/vectors/homeless-and-asking-for-help-concept-vector-id1358754457?k=20&m=1358754457&s=612x612&w=0&h=qyZ7b3z31p2sKtU0fCB5J7t_zxs48QpUGouVQOMW_7k=">
  </div>
  <div style="height: 80px;"></div>
</div>
