<div class="impact">
  <div class="donees">
    <a href="#"><i class="d-icon fa fa-solid fa-qrcode"></i></a>
    <a href="#"><i class="d-icon fa fa-solid fa-user-group"></i></a>
    <div class="text">
      <h3>3,221</h3>
      <p>Homeless people receiving help through Friendy</p>
    </div>
  </div>
  <div class="donees">
    <div class="text right">
      <h3>£2,304</h3>
      <p>Total donated driectly to people in need</p>
    </div>
    <a href="#"><i class="d-icon fa fa-solid fa-coins"></i></a>
  </div>
  <div class="donees">
    <a href="#"><i class="d-icon fa fa-solid fa-qrcode"></i></a>
    <%# <a href="#"><i class="d-icon fa-solid fa-city"></i></a> %>
    <div class="text">
      <h3>3,221</h3>
      <p>Homeless people receiving help through Friendy</p>
    </div>
  </div>
  <div class="donees">
    <div class="text right">
      <h3>2,304</h3>
      <p>Friendies signed up and helping those in need</p>
    </div>
    <a href="#"><i class="d-icon fa fa-solid fa-user"></i></a>
  </div>
</div>
