
<div class="dash-show">
  <div class="container">
    <div class="name">
      <h2><%= @donee.first_name %></h2>
      <h2><%= @donee.location %></h2>
    </div>
    <div class="img">
        <%= cl_image_tag @donee.photo.key, class: "img" %>
    </div>
  </div>
  <div class="history">
    <% @donation_history.each do |donation| %>
      <p><%= donation.created_at %></p>
    <% end %>
  </div>
</div>
