

.container {
  margin-top: 32px;
  margin-bottom: 100px;
}

.name {
  position: relative;
  height: 74px;
  width: 222px;
  border-radius: 10px, 10px, 0px, 0px;
  background-color: #C5CBD3;
  height: 96px;
  width: 310px;
  border-radius: 83px;
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.name h2 {
  font-size: 24px;
  margin-left: 130px;
  padding: 0px;
}


.img img {
  width: 136px;
  border-radius: 50%;
  border: 5px solid #8D6A9F;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  position: absolute;

  margin-left: 0px;
  margin-top: -117px;
}
