

.container-index-card {
  margin-top: 32px;
  margin-bottom: 70px;
}

.index-container {
  display: flex;
  justify-content: center;
  height: 165px;
}

.name {
  position: relative;
  height: 74px;
  width: 222px;
  border-radius: 10px, 10px, 0px, 0px;
  background-color: #8D6A9F;
  height: 96px;
  width: 310px;
  border-radius: 83px;
  margin-left: 32px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.name h2 {
  margin: 0px;

}

.name a {
  font-size: 24px;
  margin-left: 112px;
  margin-right: 12px;
  padding: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}


.img img {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  border: 5px solid #f6f4f7;
  position: absolute;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 0px;
  margin-top: -117px;
  object-fit: cover;
}
