.dash-show {
  width: 94vw;
  height: 68vh;
  background-color: #C5CBD3;
  padding: 16px;
  margin: 0px;
  border-radius: 32px;
  border:0;
  margin: auto;
  margin-top: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  height: 73vh;
  }

.history {
  width: 86vw;
  height: 38vh;
  background-color: #f9f9fa;
  padding-top: 16px;
  margin: auto;
  border-radius: 32px;
  border: 0;
  margin-top: 10 px;
  margin-bottom: 23px;
  overflow: scroll;
}

.dash-container {
  padding: 0px;
}

.cash-msg {
  color: rgb(12, 12, 12);
}

.dash-name {
  position: relative;
  height: 74px;
  width: 222px;
  border-radius: 10px, 10px, 0px, 0px;
  background-color: #8D6A9F;
  height: 96px;
  width: 310px;
  border-radius: 83px;
  margin-left: 26px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 48px;
  margin-top: 32px;


}

.history p{
  color: rgb(179, 176, 176);
  font-size: 16px;
  margin-left: 32px;
  margin-right: 32px;
  padding: 0px;
  padding-top: 5px;
  margin-bottom: 0px;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
  border-top: 1px solid #C5CBD3;
}

.history h4{
  color: black;
  font-size: 20px;
  margin-left: 32px;
  margin-right: 32px;
  padding: 0px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
}

.dash-buttons {
  margin: auto;
  text-align: center;
}

.dash-name h3 {
    font-size: 24px;
    margin-left: 112px;
    margin-right: 12px;
    padding: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-left: 120px;
    color: white;
    font-family: 'Arimo', sans-serif;
  }

.dash-name h2 {
  margin: 0px;
}

.dash-show button {
  color: #8D6A9F;
}

.report-msg{
  padding:20px;
}
.carousel-indicators {
  color: #C5CBD3;
}
