.new-donee-form {
  width: 94vw;
  height: 70vh;
  background-color: white;
  padding: 16px;
  margin: 0px;
  border-radius: 32px;
  border:0;
  margin: auto;
  margin-top: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  color: #8D6A9F;
}

.search-form {
  width: 100vw;
  // height: 15vh;
  background-color: rgba(236, 232, 232, 0.9);
  padding: 16px;
  border:0;
  margin: auto;
  // margin-top: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  margin-bottom: 10px;
  // position: -webkit-sticky;
  top: 0;
  position: fixed;
  z-index: 1;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.search-form input{
  border-radius: 10px;
  margin-bottom: 8px;
  border: none;
  box-shadow:0 0 1
  5px 4px rgba(0,0,0,0.1);
}

.btn-fr-2 {
  font-size: 16px;
  display: inline-block;
  background-color: #8D6A9F;
  border-radius: 8px;
  padding: 0px 20px;
  color: white;
  font-weight: bold;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
  bottom: 0px;
  border: none;
  height: 36px;
}

.new-donee-form input{
  border-radius: 10px;
  border: none;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
}

textarea.form-control {
  border-radius: 10px;
  border: none;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
}

.btn-fr-1 {
  justify-content: space-between;
}
