.new-donee-form {
  width: 94vw;
  height: 68vh;
  background-color: white;
  padding: 16px;
  margin: 0px;
  border-radius: 32px;
  border:0;
  margin: auto;
  margin-top: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.new-donee-form input{

  border-radius: 10px;
  border: none;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.1);

}

textarea.form-control {

  border-radius: 10px;
  border: none;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
}
