.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 18px 10px 18px;
}
.mapboxgl-canvas{
  border:black;
  border-radius:30px;
  justify-content:center;
  padding:20px;
  canvas{
    width: 395px;
  }
}
.thank-you-message{
  background-color: white;
  opacity:0.5;
  color:black;
  border-radius:30px;
  h2{
    color:black;
  }
  p{
    color:black;
  }
}
.data-mapbox-markers-value{
  height: 200px;
  width: 300px;
  overflow: hidden;
  border: 1px solid red;
  background: #ff0;
}
.edit-button {
  a{
  color: black;
  text-decoration: none;
  font-size: 12px;
  background-color:lightgrey;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  padding:5px;
  border-radius:15px;
  font-weight:bold;
  }
}
.pin-buttons{
  display:flex;
  justify-content: space-between;
  margin-top:20px;
  margin-right:10px;
}
.map-marker-info{
  background-color:lightblue;
  border-radius:10px;
  font-weight:bold;
}
.mapboxgl-popup-content{
  border-radius:10px;
  border:black solid;
}
.mapboxgl-popup-close-button{
  height:50px;
  width:50px;
  color:white;
}
.form-check-label{
  color:black;
}
