.new-report-form {
  width: 94vw;
  height: 68vh;
  background-color: white;
  padding: 16px;
  margin: 0px;
  border-radius: 32px;
  border:0;
  margin: auto;
  margin-top: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
}
.back-btn {
  font-size: 5px;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: solid;
  border-color: #8D6A9F;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
  bottom: 0px;
  text-decoration: none;
}

.btn-fr-1{
  color:#8D6A9F;
  font-size:16px;
}
.button{
  justify-content:space-between;
  padding:20px;
  input{
  font-size: 16px;
  display: inline-block;
  background-color: purple;
  border-radius: 8px;
  border: solid;
  border-color: #8D6A9F;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
  bottom: 0px;
  text-decoration: none;
  margin-right:30px;
  }
}

.mapboxgl-ctrl-geocoder--input{
  width:100%;
  display: flex;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  border-radius: 10px;
  border:none;
}
.mapboxgl-ctrl-geocoder--icon {
  opacity:0;
}
.mapboxgl-ctrl-geocoder--button{
  opacity:0;
}
.mapboxgl-ctrl-geocoder--ul{
    font-size:5px !important;
    overflow:scroll;
}
li .active{
  font-size:20px;
  overflow:scroll;
}
.suggestions-wrapper{
    font-size:20px;
    overflow:scroll;
}
#geocode-input{
  li{
    font-size:5px;
  }
}
