.summary-container {
  width: 40vw;
  height: 70vh;
  background-color: white;
  padding: 0px;
  margin: 0px;
  border-radius: 32px;
  margin: auto;
  margin-top: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  overflow: scroll;
}

.summary-container p {
  font-size: 18px;
  color: #0e0000;
}

.summary-container h2 {
  font-size: 32px;
  color: #c5cbd3;
}

@media screen and (max-width: 1024px) {
  .summary-container {
    width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .summary-container {
    width: 94vw;
  }
}
