.summary-container {
  width: 94vw;
  height: 69vh;
  background-color: white;
  padding: 0px;
  margin: 0px;
  border-radius: 32px;
  margin: auto;
  margin-top: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
}


.summary-container p {
  font-size: 18px;
  color: #0e0000;
}

.summary-container h2 {
  font-size: 32px;
  color: #C5CBD3;
}
