// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "mapbox-gl/dist/mapbox-gl";
@import "components/map";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

* {
  // max-width: 600px;
}

body,
html {
  height: 100%;
}

body {
  // background: rgb(2,0,36);
  background-image: linear-gradient(#bdebe9, #c4cae8);
  background-position: fixed;
  // background-size: 100%;
  margin: 0;

  // background-repeat: repeat-y;
  // overflow: scroll;
}

h1 {
  font-family: "Monofett", cursive;
  color: white;
  font-size: 46px;
}

h2 {
  font-family: "Arimo", sans-serif;
  color: white;
  font-size: 24px;
}

h2 {
  font-family: "Arimo", sans-serif;
  color: white;
  font-size: 16px;
}

h6 {
  font-family: "Monofett", cursive;
  color: #8d6a9f;
  font-size: 50px;
}
