<div class= "show-map" style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="thank-you-message">
  <h2 style="text-align:center;">Thank you</h2>
  <p style="text-align:center; font-size:smaller;">Your report has been notified by the Friendy Team and <%= @report.donee.first_name %> is being attended to</p>
</div>
